@import './index.style.css';

.blog-main {
	display: inline-block;
	text-align: center;
	padding: 0px 140px;
	height: 95%;
}

#blog-header {
	justify-self: center;
}

hr {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.blog-cards {
	padding: 24px 0px;
	border: solid black;
}

#personal {
	color: rgb(224, 189, 172);
}
