@import "./index.style.css";
@import "./index.style.css";

#post-header {
  text-align: center;
}

#date {
  font-size: x-small;
  margin-bottom: 18px;
}

.blog-main {
  margin: 0px 40px;
}

.blog-post {
  text-align: left;
}

#placeholder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

strong {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  color: #444444;
}

/* Media Query */
@media only screen and (max-width: 1000px) {
  .blog-cards {
    width: auto;
  }

  #placeholder {
    width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .blog-main h1 {
    font-size: 2em;
  }

  .blog-post p {
    font-size: smaller;
  }

  #placeholder {
    width: 250px;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  #placeholder {
    width: 200px;
    height: auto;
  }
}
