@import './index.style.css';
h2 {
	display: block;
}

.blog-main {
	text-align: center;
	padding: 0px 140px;
	height: 95%;
}

#blog-header {
	justify-self: center;
}

hr {
	border: 0.5px solid rgba(0, 0, 0, 0.2);
}

.blog-cards {
	padding: 10px 20px;
	margin: 24px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

#personal {
	color: rgb(224, 189, 172);
}

.blog-content {
	display: flex;
}

.blog-imgs img {
	height: 200px;
	width: 250px;
}

article {
	margin-left: 15px;
}

/* Single Blog Post Styles */
#date {
	font-size: x-small;
	margin-bottom: 18px;
}

.blog-post {
	text-align: left;
}

#placeholder {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
