body {
	display: grid;
	background-color: #f9f3f2;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

.container {
	display: grid;
	grid-template-rows: 100px 80% 100px;
	grid-template-areas:
		'nav'
		'main'
		'footer';
	background-color: white;
	width: 80%;
	justify-self: center;
	padding: 0px 15px;
	box-shadow: 0px 0px 44px -11px rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

header {
	grid-area: nav;
	background-color: white;
	padding: 0px 20px;
}

.nav-bar ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 20px 0px;
	text-transform: uppercase;
}

.nav-bar ul li:hover {
	text-decoration: underline;
	text-decoration-color: #00000081;
	font-weight: bold;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #00000081;
}

.main {
	grid-area: main;
	display: flex;
	justify-content: center;
	height: 95%;
}

#photographer {
	display: block;
	font-style: italic;
	color: #0000002f;
	font-size: 12px;
}

h1 {
	font-weight: lighter;
	font-family: 'Cormorant Garamond', serif;
	font-size: 3em;
	line-height: 40px;
	color: #5b5b5b;
}

#em-title {
	color: rgb(224, 189, 172);
	z-index: 100;
	position: absolute;
	font-size: 1.5em;
}

.landing p {
	font-style: italic;
	color: #c6c6c6;
}

.content-image {
	width: 40%;
	height: 100%;
	background-image: url('./main-content-img.png');
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}

.landing {
	padding-top: 10%;
	margin-left: 20px;
	width: 50%;
}

.footer {
	grid-area: footer;
	font-size: 10pt;
	color: #0000008a;
}

.footer ul {
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	text-transform: uppercase;
	margin-top: 0px;
}

#copyright {
	text-transform: none;
	font-weight: bold;
	color: rgb(224, 189, 172);
}
