body {
    display: grid;
    background-color: #f9f3f2;
}

.container {
    grid-template-columns: 1fr;
    grid-template-areas: 
        "hd"
        "nv"
        "bl"
        "ft";
    background-color: white;
    width: 80%;
    justify-self: center;
    padding: 0px 15px;
}

header {
    background-color: white;
    padding: 0px 20px;
    height: 90vh;
}

.main {
    display: flex;
    grid-area: hd;
}

nav ul {
    grid-area: nv;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

.blog-post {
    grid-area: bl;
    min-height: 150px;
}

footer {
    grid-area: ft;
}