.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "hd"
        "nv"
        "bl"
        "ft";
}

h1 {
    grid-area: hd;
    display: flex;
    justify-content: center;
}

nav ul {
    grid-area: nv;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid pink; */
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15%;
}

h2 {
    text-align: center;
}

.blog-post {
    grid-area: bl;
    min-height: 150px;
    /* border: 1px solid orange; */
}

footer {
    grid-area: ft;
    /* border: 1px solid lightblue; */
}